#form {
    background-color: white;
    width: 95%;
    height: 95%;
    margin: auto;
    margin-top: 50px;
    border-radius: 2px;
    border: solid #DFDFDF;
}
#top {
    background-color: #F7F7F7;
}
#some {
    background-color: #F7D7DA;
    color: #711D25;
}
#bottom {
    background-color: #F7F7F7;
}